.gTitle{
}
.gTitle::before{
    content: "";
    position: absolute;
    width: 4rem;
    height: 0.2rem;
    top:120px;
    left:47.9%;
    background-color:black;
}
.iconsBlock{
    overflow: hidden;
}
.icons{
    transform: translateX(130%);
    transition: all .3s ease-in-out;
}
.productBlock:hover .icons{
    transform: translateX(0);
}